RewriteEngine On

RewriteRule ^api/employees/?$ api/employees.php
RewriteRule ^api/employees/([0-9]+)?$ api/employees.php?employeeID=$1

RewriteRule ^api/administrators/?$ api/administrators.php
RewriteRule ^api/administrators/([0-9]+)?$ api/administrators.php?administratorID=$1

RewriteRule ^api/loginEmployee/?$ api/loginEmployee.php

RewriteRule ^api/loginAdmin/(.*)/(.*)?$ api/loginAdmin.php?username=$1&password=$2

RewriteRule ^api/logs/?$ api/logs.php
RewriteRule ^api/logs/([0-9]+)?$ api/logs.php?employeeID=$1
RewriteRule ^api/logs/([0-9]+)/(.*)?$ api/logs.php?employeeID=$1&date=$2


RewriteRule ^api/tasksAvailable/?$ api/tasksAvailable.php
RewriteRule ^api/tasksAvailable/([0-9]+)?$ api/tasksAvailable.php?employeeID=$1

RewriteRule ^api/tasksInProgress/?$ api/tasksInProgress.php
RewriteRule ^api/tasksInProgress/([0-9]+)?$ api/tasksInProgress.php?employeeID=$1

RewriteRule ^api/tasksDone/?$ api/tasksDone.php
RewriteRule ^api/tasksDone/([0-9]+)?$ api/tasksDone.php?employeeID=$1
RewriteRule ^api/tasksDone/([0-9]+)/(.*)?$ api/tasksDone.php?employeeID=$1&endDate=$2

RewriteRule ^api/startTask/([0-9]+)?$ api/startTask.php?id=$1

RewriteRule ^api/endTask/([0-9]+)?$ api/endTask.php?id=$1